[misc]
assume_yes = true
no_retry = true
show_skipped = false
cleanup = true
skip_notify = true
pre_sudo = true
disable = ["gem", "ruby_gems"]

[brew]
greedy_cask = true
autoremove = true
fetch_head = true

[git]
max_concurrency = 5
repos = [
    "~/Documents/Projects/*/",
    "~/.config/*/"
]
arguments = "--rebase --autostash"

[chezmoi]
exclude_encrypted = false

[mise]
bump = true
jobs = 4
interactive = false

{{ if eq .chezmoi.os "darwin" -}}

[containers]
runtime = "docker"
system_prune = true
use_sudo = false

{{ else if eq .chezmoi.os "linux" -}}

[linux]
arch_package_manager = "yay"
yay_arguments = "--nodevel"
show_arch_news = true

[firmware]
upgrade = true

[flatpak]
use_sudo = true

[containers]
runtime = "podman"
system_prune = true
use_sudo = false

{{ else if eq .chezmoi.os "windows" -}}

[windows]
accept_all_updates = true
self_rename = true

{{ end -}}
