[misc]
assume_yes = true
no_retry = true
show_skipped = false
cleanup = true
skip_notify = true
allow_root = true
pre_sudo = false
sudo_command = "sudo"
disable = ["gem", "ruby_gems"]

{{ if eq .chezmoi.os "darwin" -}}

[brew]
greedy_cask = true
autoremove = true
fetch_head = true

[containers]
runtime = "docker"
system_prune = true
use_sudo = false

{{ else if eq .chezmoi.os "linux" }}

[linux]
arch_package_manager = "pacman"
dnf_arguments = "--refresh"
show_arch_news = true
pacman_arguments = "--no-devel"
redhat_distro_sync = true
suse_dup = true
rpm_ostree = true
bootc = true

[firmware]
upgrade = true

[flatpak]
use_sudo = true

[containers]
runtime = "podman"
system_prune = true
use_sudo = false

{{ end -}}

[git]
max_concurrency = 5
repos = [
    "~/Documents/Projects/*/",
    "~/.config/*/"
]
arguments = "--rebase --autostash"

[chezmoi]
exclude_encrypted = false

[mise]
bump = true
jobs = 4
interactive = false
