{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
set -euo pipefail

# Packages hash: {{ .packages.darwin | toJson | sha256sum }}

echo "Installing Homebrew packages..."

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.mas -}}
mas {{ .name | quote }}, id: {{ .id }}
{{ end -}}
EOF

echo "Homebrew packages installed successfully."
{{ end -}}
