{{- if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
set -euo pipefail

if command -v mise &> /dev/null; then
    echo "Running mise install..."
    mise install --yes
else
    echo "mise not found, skipping mise install"
fi
{{ end -}}
