{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $ssh_key := promptStringOnce . "ssh_key" "SSH signing key" -}}
{{- $git_user := promptStringOnce . "git_user" "GitHub username" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    ssh_key = {{ $ssh_key | quote }}
    git_user = {{ $git_user | quote }}

[git]
    autoCommit = true
    autoPush = true

[onepassword]
    prompt = true

[edit]
    command = "hx"
