{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $username := promptStringOnce . "username" "Git username" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    username = {{ $username | quote }}
    ssh_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIERNxt3cnIcfexVELx9Rv/VbP+E64DKVT8iMIYj1e79N"

[git]
    autoCommit = true
    autoPush = true
