{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $name := promptStringOnce . "name" "Your name" -}}
{{- $ssh_key := promptStringOnce . "ssh_key" "Your SSH signing key" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    ssh_key = {{ $ssh_key | quote }}

[git]
    autoCommit = true
    autoPush = true

[onepassword]
    prompt = true

[edit]
    command = "hx"
