tap "charmbracelet/tap"
tap "nikitabobko/tap"
tap "oven-sh/bun"
tap "xo/xo"
brew "openssl@3"
brew "libyaml"
brew "ansible"
brew "node"
brew "ansible-language-server"
brew "ansible-lint"
brew "llvm"
brew "atuin", restart_service: :changed
brew "gmp"
brew "bagels"
brew "bandwhich"
brew "bash-language-server"
brew "bat"
brew "biome"
brew "bottom"
brew "caddy"
brew "cargo-binstall"
brew "chezmoi"
brew "curl"
brew "php"
brew "composer"
brew "csvlens"
brew "delve"
brew "docker-language-server"
brew "doggo"
brew "dua-cli"
brew "exiftool"
brew "eza"
brew "fd"
brew "ffmpeg"
brew "fish"
brew "fish-lsp"
brew "fnox"
brew "fzf"
brew "gemini-cli"
brew "gh"
brew "ghostscript"
brew "git"
brew "git-delta"
brew "glow"
brew "gnupg"
brew "go"
brew "gofumpt"
brew "golangci-lint"
brew "golangci-lint-langserver"
brew "gopls"
brew "grex"
brew "harlequin"
brew "harper"
brew "hcloud"
brew "helix", args: ["HEAD"]
brew "hl"
brew "hurl"
brew "imagemagick"
brew "jj"
brew "jq"
brew "jq-lsp"
brew "just"
brew "lazydocker"
brew "lazygit"
brew "lazyjournal"
brew "mago"
brew "markdown-oxide"
brew "marksman"
brew "marp-cli"
brew "mas"
brew "mise"
brew "mpv"
brew "mq"
brew "nmap"
brew "oha"
brew "openssh"
brew "pandoc"
brew "poppler"
brew "postgresql@18"
brew "posting"
brew "prettier"
brew "procs"
brew "rainfrog"
brew "rclone"
brew "resvg"
brew "ripgrep"
brew "ruby"
brew "ruby-lsp"
brew "ruff"
brew "rumdl"
brew "rust"
brew "rv"
brew "scooter"
brew "sevenzip"
brew "slumber"
brew "solargraph"
brew "starship"
brew "tailscale", restart_service: :changed, link: false
brew "terraform-ls"
brew "thefuck"
brew "tlrc"
brew "tombi"
brew "topgrade"
brew "trippy"
brew "ty"
brew "typescript-language-server"
brew "uv"
brew "vscode-langservers-extracted"
brew "wireshark"
brew "xh"
brew "xleak"
brew "yaml-language-server"
brew "yamlfmt"
brew "yamllint"
brew "yazi"
brew "zoxide"
brew "charmbracelet/tap/crush"
brew "oven-sh/bun/bun"
brew "xo/xo/usql", args: ["with-odbc"]
cask "1password"
cask "1password-cli"
cask "affinity"
cask "balenaetcher"
cask "dbeaver-community"
cask "discord"
cask "filebot"
cask "firefox"
cask "font-jetbrains-mono"
cask "font-jetbrains-mono-nerd-font"
cask "font-monaspace"
cask "font-monaspace-nf"
cask "ghostty"
cask "gns3"
cask "google-chrome"
cask "helium-browser"
cask "iina"
cask "libreoffice"
cask "orbstack"
cask "pgadmin4"
cask "raspberry-pi-imager"
cask "rustdesk"
cask "signal"
cask "syncthing-app"
cask "tailscale-app"
cask "thunderbird"
cask "transmission"
cask "winbox"
cask "wireshark-app"
cask "yubico-authenticator"
cask "zed"
cask "zen"
mas "1Password for Safari", id: 1569813296
mas "Canva", id: 897446215
mas "Collabora Office", id: 6754639856
mas "DigiDoc4", id: 1370791134
mas "Infuse", id: 1136220934
mas "LocalSend", id: 1661733229
mas "Microsoft Excel", id: 462058435
mas "Microsoft PowerPoint", id: 462062816
mas "Microsoft Word", id: 462054704
mas "Reeder", id: 6475002485
mas "Termius", id: 1176074088
mas "uBlock Origin Lite", id: 6745342698
mas "Web eID", id: 1576665083
mas "WhatsApp", id: 310633997
mas "WireGuard", id: 1451685025
go "cmd/go"
go "cmd/gofmt"
