Host *
    IdentityAgent "{{ .onepasswordAgent }}"

{{ range $name, $server := .servers -}}
Host {{ $name }}
    HostName {{ $server.host }}
    User {{ $server.user }}
    Port {{ $server.port }}
{{ end -}}
