fish_add_path {{ .chezmoi.homeDir }}/.local/bin

if test -f /opt/homebrew/bin/brew
    eval (/opt/homebrew/bin/brew shellenv)
else if test -f /home/linuxbrew/.linuxbrew/bin/brew
    eval (/home/linuxbrew/.linuxbrew/bin/brew shellenv)
end

if set -q HOMEBREW_PREFIX
    fish_add_path $HOMEBREW_PREFIX/opt/postgresql@18/bin
    fish_add_path $HOMEBREW_PREFIX/opt/llvm/bin
end

if status is-interactive
    fish_config theme choose Dracula

    if test -f {{ .chezmoi.homeDir }}/.config/op/plugins.sh
        source {{ .chezmoi.homeDir }}/.config/op/plugins.sh
    end

    type -q mise; and mise activate fish | source
    type -q fzf; and fzf --fish | source
    type -q zoxide; and zoxide init fish --cmd cd | source
    type -q atuin; and atuin init fish | source
    type -q starship; and starship init fish | source
    type -q thefuck; and thefuck --alias fk | source
end
