[init]
        defaultBranch = main
[user]
        name = {{ .name }}
        email = {{ .email }}
        signingkey = {{ .ssh_key }}
[core]
        pager = delta
        fsmonitor = true
        untrackedCache = true
        {{ if eq .chezmoi.os "darwin" -}}
        excludesfile = /Users/{{ .chezmoi.username }}/.config/git/ignore
        {{- else if eq .chezmoi.os "linux" -}}
        excludesfile = /home/{{ .chezmoi.username }}/.config/git/ignore
        {{- end }}
[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true
        side-by-side = true
[gpg]
        format = ssh
[gpg "ssh"]
        {{ if eq .chezmoi.os "darwin" -}}
        allowedSignersFile = /Users/{{ .chezmoi.username }}/.ssh/allowed_signers
        program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
        {{- else if eq .chezmoi.os "linux" -}}
        allowedSignersFile = /home/{{ .chezmoi.username }}/.ssh/allowed_signers
        {{- end }}
[tag]
        sort = version:refname
        gpgsign = true
[commit]
        verbose = true
        gpgsign = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[pull]
        rebase = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[merge]
        conflictstyle = zdiff3
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[rerere]
        enabled = true
        autoupdate = true
[column]
        ui = auto
[branch]
        sort = -committerdate
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[help]
        autocorrect = prompt
{{ if eq .chezmoi.os "darwin" -}}
# [credential "https://github.com"]
# 	helper = 
# 	helper = !/opt/homebrew/bin/gh auth git-credential
# [credential "https://gist.github.com"]
# 	helper = 
# 	helper = !/opt/homebrew/bin/gh auth git-credential
{{- end }}
