[init]
        defaultBranch = main
[user]
        name = {{ .name }}
        email = {{ .email }}
        signingkey = {{ .ssh_key }}
[core]
        fsmonitor = true
        untrackedCache = true
        excludesfile = {{ .chezmoi.homeDir }}/.config/git/ignore
[gpg]
        format = ssh
[gpg "ssh"]
        allowedSignersFile = {{ .chezmoi.homeDir }}/.ssh/allowed_signers
        {{ if eq .chezmoi.os "darwin" -}}
        program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
        {{ else if eq .chezmoi.os "linux" -}}
        program = "/opt/1Password/op-ssh-sign"
        {{ else if eq .chezmoi.os "windows" -}}
        program = "C:/Users/{{ .chezmoi.username }}/AppData/Local/1Password/app/8/op-ssh-sign.exe"
        {{- end }}
[tag]
        sort = version:refname
        gpgsign = true
[commit]
        verbose = true
        gpgsign = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[pull]
        rebase = true
[fetch]
        prune = true
        pruneTags = true
        all = true
[merge]
        conflictstyle = zdiff3
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[rerere]
        enabled = true
        autoupdate = true
[column]
        ui = auto
[branch]
        sort = -committerdate
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[help]
        autocorrect = prompt
