if status is-interactive
    set --global --export EDITOR hx
    set --global --export PAGER bat
    {{ if eq .chezmoi.os "darwin" -}}
    eval (/opt/homebrew/bin/brew shellenv)
    {{ end -}}
    type -q mise; and mise activate fish | source
    type -q fzf; and fzf --fish | source
    type -q zoxide; and zoxide init fish --cmd cd | source
    type -q starship; and starship init fish | source
end
{{ if eq .chezmoi.os "darwin" }}
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
{{ end }}
