[user]
name = {{ .name | quote }}
email = {{ .email | quote }}

[ui]
default-command = "log"

[signing]
sign-all = true
backend = "ssh"
key = {{ .ssh_key | quote }}

[signing.backends.ssh]
program = {{ .onepasswordProgram | quote }}
