{{ range $name, $server := .servers -}}
[services.{{ $name }}]
type = "sftp"
host = {{ $server.host | quote }}
user = {{ $server.user | quote }}
port = {{ $server.port }}
identity_agent = {{ $.onepasswordAgent | quote }}

{{ end -}}
