"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"

[mgr]
sort_by        = "natural"
sort_translit  = true
linemode       = "permissions"
show_hidden    = true

[preview]
wrap            = "yes"
