# ----------------------------
# Language servers definitions
# ----------------------------

[language-server.harper-ls.config.harper-ls.linters]
SpellCheck = false
SentenceCapitalization = false

[language-server.yaml-language-server.config.yaml]
format = { enable = true }
validation = true

[language-server.yaml-language-server.config.yaml.schemas]
"https://json.schemastore.org/github-workflow.json" = ".github/workflows/*.{yml,yaml}"
"https://raw.githubusercontent.com/ansible-community/schemas/main/f/ansible-tasks.json" = "roles/{tasks,handlers}/*.{yml,yaml}"
"https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.29.0-standalone/all.json" = "k8s/**/*.yaml"

[language-server.oxlint]
command = "oxlint"
args = ["--lsp"]

[language-server.biome]
command = "biome"
args = ["lsp-proxy"]

[language-server.gopls.config]
gofumpt = true

# ----------------------------
# Languages
# ----------------------------

[[language]]
name = "markdown"
language-servers = [ "marksman", "markdown-oxide", "rumdl", "harper-ls" ]
text-width = 80
soft-wrap.enable = true
soft-wrap.wrap-at-text-width = true
auto-format = true

[[language]]
name = "html"
language-servers = [ "vscode-html-language-server" ]
auto-format = true

[[language]]
name = "css"
language-servers = [ "vscode-css-language-server" ] 
auto-format = true

[[language]]
name = "javascript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "typescript"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "tsx"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "jsx"
language-servers = [ { name = "typescript-language-server", except-features = [ "format" ] }, "biome" ]
auto-format = true

[[language]]
name = "json"
language-servers = [ { name = "vscode-json-language-server", except-features = [ "format" ] }, "biome" ]

[[language]]
name = "php"
formatter = { command = "mago", args = ["format", "--stdin-input"] }
auto-format = true
