[settings]
trusted_config_paths = ["~/Documents/Projects"]
experimental = true
idiomatic_version_file_enable_tools = ["python"]

[settings.npm]
bun = true

[tools]
# "cargo:systemd-lsp" = "latest"
# "pipx:ty" = "latest"
# ruby = "3"

# [tools]
# 1password = "latest"
# atuin = "latest"
# bat = "latest"
# bottom = "latest"
# bun = "latest"
# cargo-binstall = "latest"
# "cargo:csvlens" = "latest"
# "cargo:mago" = "latest"
# "cargo:oha" = "latest"
# "cargo:rainfrog" = "latest"
# "cargo:rucola-notes" = "latest"
# "cargo:rumdl" = "latest"
# "cargo:scooter" = "latest"
# "cargo:slumber" = "latest"
# "cargo:tealdeer" = "latest"
# "cargo:trippy" = "latest"
# dua = "latest"
# eza = "latest"
# fd = "latest"
# fzf = "latest"
# github-cli = "latest"
# "github:spinel-coop/rv" = "latest"
# glow = "latest"
# go = "latest"
# "go:github.com/sqls-server/sqls" = "latest"
# harper-ls = "latest"
# helix = "latest"
# jj = "latest"
# jq = "latest"
# lazygit = "latest"
# marksman = "latest"
# node = "latest"
# "npm:@markdoc/language-server" = "latest"
# "npm:dockerfile-language-server-nodejs" = "latest"
# "npm:vscode-langservers-extracted" = "latest"
# pandoc = "latest"
# rclone = "latest"
# resvg = "latest"
# ripgrep = "latest"
# rust = "latest"
# starship = "latest"
# usage = "latest"
# usql = "latest"
# uv = "latest"
# xh = "latest"
# yazi = "latest"
# zoxide = "latest"
